* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  bottom: 0px;
  background-color: #f1f1f1;
  border: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  background: #e6e4e4;
  padding: 10px;
  transition: all 0.2s ease;
}

button:hover {
  bottom: 2px;
  background-color: #d3cbcb;
  box-shadow: 2px 2px 3px #7b7a7a;
}

.task-input,
textarea {
  position: relative;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

textarea:focus,
.task-input:focus {
  box-shadow: 0px 0px 20px #cabfbf;
  bottom: 2px;
}

.wrapper {
  padding: 10px 0px;
  gap: 20px;
}

.task-form {
  width: 25%;
  gap: 40px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f3f1f1;
  box-shadow: 0px 0px 5px #beb3b3;
}

.close-form-btn {
  width: 10%;
  align-self: flex-end;
  padding: 3px;
}

.inputs-wrapper {
  gap: 20px;
}

.input-container {
  gap: 10px;
}

.input-container label {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: bold;
  align-self: center;
}

.date-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.description-input {
  height: 100px;
  width: 100%;
  resize: none;
}

.submit-task-btn {
  width: 30%;
  align-self: center;
}

.close-form-dialog {
  justify-self: center;
  width: 20%;
  background-color: #f4f2f2;
  margin-top: 20%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #beb3b3;
}
.close-form-dialog form {
  gap: 20px;
  text-align: center;
}
.dialog-buttons-container {
  display: flex;
  gap: 30px;
}

.task-list {
  list-style: none;
  gap: 20px;
  width: 100%;
}

.task-container {
  padding: 20px;
  align-self: center;
  width: 20%;
  gap: 30px;
  border: 1px solid #d6d3d3;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #beb3b3;
}

.task-info-wrapper {
  gap: 20px;
}

.task-text-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e4e4;
}

.task-info-container {
  display: flex;
  justify-content: space-between;
}

.task-buttons-container {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

.hidden {
  display: none;
}
